.content-light-blue {
  font-family: 'Roboto', sans-serif;
  padding-top: 26px;
  padding-bottom: 26px;
}

.content-light-blue  .content-boxes .top-header {
  margin-right: 15px;
}

.content-light-blue .content-boxes .top-header .title {
  font-size: 2.3em;
  font-weight: normal;
}

.content-light-blue .content-boxes .top-header .description {
  font-size: 1.1em;
  font-weight: normal;
}

.content-light-blue  .content-boxes .content-box {
  border-top: 1px solid;
  margin-right: 15px;
  margin-top: 18px;
  padding-top: 15px;
}

.content-light-blue  .content-boxes  .content-box  .icon-circle {
  border-radius: 39px;
  display: inline-block;
  font-size: 2.6em;
  height: 78px;
  line-height: 80px;
  text-align: center;
  width: 78px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.content-light-blue .content-box  .title {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 3px;
}

.content-light-blue .content-box  .description {
  font-size: 1.05em;
  font-weight: normal;
}

.content-light-blue  .content-boxes  .content-lists  .icon-circle {
  border-radius: 15px;
  font-size: 1em;
  height: 28px;
  line-height: 30px;
  margin-right: 10px;
  width: 28px;
}

.content-light-blue .content-box ul {
  margin: 0;
  padding: 0;
}

.content-light-blue .content-box ul li {
  font-size: 1.3em;
  font-weight: normal;
  list-style: outside none none;
  padding-bottom: 20px;
}

body {
  font-family: roboto;
}
body.navbar-is-fixed-top .main-container {
  margin-top: 10px;
}
.region-navigation {
  max-width: 25%;
  padding-top: 4px;
}
.navbar-header {
  margin-top: 5px;
}
header#navbar nav{
  max-height: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
}

header#navbar .navbar-nav>li  {
  margin-top: 15px;
}
header#navbar .navbar-nav>li>a {
  text-transform: none;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
header#navbar .navbar-nav>li>a:focus, 
header#navbar .navbar-nav>li:hover>a,
header#navbar .navbar-nav>li>a.active {
  border-bottom: 4px solid;
}
header#navbar #navigation {
  border: none;
}
header#navbar .logo {
  margin-top: 0px;
}
header#navbar .logo img {
  height: 40px;
  width: auto;
}
header#navbar .navbar-toggle {
  border-radius: 0px; 
}

.footer-wrap {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 15px;  
  padding-top: 13px;
}
.footer-wrap .footer-menu ul li a {
  padding: 20px 10px;
  font-weight: normal;
  font-size: 1.2em;
}
.footer-wrap .footer-menu ul li a:hover,
.footer-wrap .footer-menu ul li a:focus {
  text-decoration: underline;
}
.footer-wrap .footer-social .block-content {
  height: 40px;
}
.footer-wrap .inline {
  display: block;
  float: left;
}
.footer-wrap .footer-social .follow-link-wrapper a {
  padding-left: 0;
  width: 42px;
  text-align: center;
  padding-top: 8px;
  height: 42px;
  margin-right: 3px;
  border-radius: 50%;
  display: inline-block;
}
.footer-wrap .footer-social .follow-link-wrapper a:hover {
  text-decoration: none;
}
.footer-wrap .footer-social .block-content {
  display: inline-block;
  float: right;
  padding-top: 10px;
}
.footer-wrap .footer-social .follow-link-wrapper a:before {
  font-size: 1.4em;
  font-weight: normal;
  font-family: FontAwesome;
  text-align: center;
  padding-left: 0px;
}
.footer-wrap .footer-social .follow-link-wrapper-facebook a:before {
  content: "\f09a";
}
.footer-wrap .footer-social .follow-link-wrapper-googleplus a:before {
  content: "\f0d5";
}
.footer-wrap .footer-social .follow-link-wrapper-twitter a:before {
  content: "\f099";
}
.footer-wrap .footer-social .follow-link-wrapper-linkedin a:before {
  content: "\f0e1";
}

